.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 80px;
}

.textDiv {
  margin-top: 125px;
}

.textDiv h1 {
  color: #ff6948;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 20px;
}

.textDiv p {
  color: #141e50;
  font-size: 19px;
  font-weight: 300;
  line-height: 35px;
  width: 673px;
}

.textDiv p:nth-child(2) {
  margin-bottom: 60px;
}

/* .textDiv p:nth-child(4) {
  cursor: pointer;
  color: #141e50;
  font-weight: 400;
} */

@media (min-width: 1400px) and (max-width: 1599px) {
  .textDiv h1 {
    font-size: 26px;
  }

  .textDiv p {
    font-size: 18px;
  }
}
