.header {
  align-items: center;
  margin-top: 77px;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang h2 {
  font-family: 'Ubuntu';
  font-size: 22px;
  font-weight: 400;
  margin-right: 38px;
}
