@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu';
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: space-between;
  width: min(1350px, 100vw);
}

@media (min-width: 1600px) and (max-width: 1800px) {
  .center {
    display: flex;
    justify-content: space-between;
    width: min(1250px, 100vw);
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .center {
    display: flex;
    justify-content: space-between;
    width: min(1150px, 100vw);
  }
}
